---
layout: default
---
<div id="navbar" class="container">
    <h5><a id="link-back" href="/">Back to Posts</a></h5>
    {% include share.html page=page %}
</div>

<div id="cover" class="container">
    <div>
        <h1>{{ page.title }}</h1>
        <p> 
			<a href="{{ site.baseurl }}/date/{{ post.date | date: '%Y/%m/%d' }}" title="{{ post.date | date: '%Y-%m-%d %H:%M' }}" class="date">{{ post.date | date: '%Y-%m-%d %H:%M' }}</a>
            {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/{{ tag }}" title="{{ tag }}" class="tag tag-{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </p>
    </div>
</div>

<div id="content" class="container post" role="main">
    <div id="post-content">{{ content }}</div>
    <!-- <div id="post-footer"></div> -->
</div>

<div id="lightbox">
    <div id="lightbox-image"></div>
</div>
